<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Mobile Test Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="com.djamo.qa.utils.Listeners" />
    </listeners>

    <test name="Android Google Maps Test">
        <parameter name="platform" value="android"/>
        <parameter name="profile" value="android_google_maps"/>
        <classes>
            <class name="com.djamo.qa.tests.SearchAndNavigateTest"/>
        </classes>
    </test>

</suite>